html * {
    font-family: 'Roboto';
}

#logo {
    padding-left: 1.875rem;
    padding-top: 30px;
    font-size: 32px;
}

.signup_container {
    border-bottom: 1px solid black;
    padding: 0%;
}

/* i am not too sure why it doesnt let me use the option 'right: 30px'. 
this was just so it would stay on the right hand side.*/ 
.login_signup {
    font-size: 20px;
   display: flex;
   justify-content: flex-end;
    
}

#Signup {
    display: inline;
    border-right: 1px solid black;
    padding-right: 10px;
}

#Login {
    display: inline;
    padding-left: 9px;
}

.search_bars {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}



.search_bars input {
    height: 40px;
    width: 340px;
    font-size: 16px;
    
    border-radius: 10px;
}

#search_bar_button {
    height:40px;
    width: 150px;
    
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: darkblue; 
    
}



.navigation_bar {
    display: flex;
    justify-content: center;
    
}

.navigation_list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.navigation_list li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
}

.sort_by {
    display: flex;
    justify-content: flex-end;
    margin-right: 59px;
}

.job_listing_container {
    display: flex;
    justify-content: center;
    
    
    
}

#job_listing_card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    width: 1200px;
    
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray, -5px 5px 5px lightgray; 
}

#job_listing_card h2 {
    margin-left: 30px;
    margin-top: 30px;
    
}

#job_listing_card h3 {
    margin-left: 30px;
    margin-top: 10px;
}

.quick_info ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 60px;
    
}