* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    border: 1px solid grey;
}

li {
    list-style: none;
}

h1 {
    padding-left: 1.875rem;
    padding-top: 30px;
    font-size: 32px;
}

#line {
    border-bottom: 1px solid black;
    padding: 0%;
}

#users ul{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 0.625rem;
}

#users a {
    text-decoration: none;
    color: black;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.625rem;
    gap: 30px;
}

#parameters {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

::placeholder {
    padding-left: 10px;
}

#location-icon {
    height: 25px;
    width: auto;
}

#parameters input {
    height: 40px;
    width: 340px;
    font-size: 16px;
    border-radius: 10px;
}

#search-button {
    height:40px;
    width: 150px;
    
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: darkblue; 
    
}

#filters {
    display: flex;
    justify-content: center;
    
}

#filters ul {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

#filters li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    background-color: lightgrey;
    border-radius: 10px;
}

#sort-by {
    display: flex;
    justify-content: flex-end;
    margin-right: 59px;
}

#listings {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    width: 1200px;
    
    border: 1px solid lightgrey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px lightgray, -5px 5px 5px lightgray;
    
    padding-left: 30px;
}

.card > * {
    padding-top: 30px;
}

.card h3 {
    padding-top: 0px;
    margin-top: 10px;
}

.quick-info ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 60px;
    
}

.key-points li {
    list-style: circle;
    margin-left: 30px;
}